<div class="pwt <%= cls %>" style="--pwt-color: <%= color %>;">
    <link rel="stylesheet" href="../pwt.css" />
    <h1 class="title"><%= name %> <span class="extras"><input type="number" class="editable progress_value" value="<%= value %>" name="<%= cls %>" />/<span class="noneditable progress_max"><%= max %></span></span></h1>
    <progress value="<%= value %>" max="<%= max %>" min="0"></progress>

    <script>
      var onload = () => {
        const max = <%= max %>;

        const container = document.querySelector(".pwt.<%= cls %>");
        const val = container.querySelector(".editable.progress_value");
        const pr = container.querySelector('progress');
        if (val.value > max) {pr.value = max; val.value = max}

        console.log(val);

        pr.onchange = () => {
          if (pr.value > max) {pr.value = max; val.value = max}
        }
      }

      onload();
    </script>
</div>