<div id="status_container_<%= data.name %>" class="status_container">
    <style>
        @import url('./root.css');
        #status_container_<%=  data.name %> {
            width: 20rem;

            display: flex;
            justify-content: space-around; 
            align-items: center;
        }
        #status_container_<%=  data.name %> .status_value {
            margin-left: auto;
        }
        #status_container_<%=  data.name %> input[type="number"] {
            max-width: 100px;
            outline: none;
            text-align: center;
            border-radius: 5px 15px 5px 15px;
            border: 0.1px solid var(--main-color);

        }
        #status_container_<%=  data.name %> input[type="number"]:hover {
            border: 1px solid var(--main-color);
    
            box-shadow: 0px 0px 2.5px var(--main-color),
            0px 1px 2.5px var(--main-color),
            1px 0px 2.5px var(--main-color);
        }
    
        #status_container_<%=  data.name %> input[type="number"]::-webkit-inner-spin-button {
            display: none;
        }

        .statusBtn {
            background: var(--main-color);
            color: black;
            border-radius: 5px;
            border: 0.1px solid var(--main-color);
            width: var(--size, 15px);
            height: var(--size);
        }

    </style>
    
    <label for="status_<%=  data.name %>"><%=  data.name %></label>
    <div class="status_value">
        <input value="<%=  data.value %>" type="number" name="status_<%=  data.name %>" id="status_<%=  data.name %>" >
        <h1 class="<%=  data.name %>_roll"></h1>
    </div>
</div>